<!DOCTYPE html>
<html>
    <head>
        <title>@Page.Title</title>
        <meta name="description" content="@Page.mDescription" />
        <link rel="stylesheet" href="@Href("~/Shared/style.css")" type="text/css" />
    </head>
    <body>
        <div class="wrapper">  <header>@RenderPage("~/Shared/_Header.cshtml")</header><aside>@RenderPage("~/Shared/_Sidebar.cshtml") </aside> <div class="content"> @RenderBody() </div></div>
    </body>
</html>
