@{ Layout = "~/Shared/_Layout.cshtml";
    var askUser = "Select a cheesesteak size and a side option and click submit:";


    var step0Form = @" Mini Donculous(4 inches)<input type=""radio"" name=""SandSize"" value=""Mini""/> <br/>
                Donculous(6 inches)<input type=""radio"" name=""SandSize"" value=""Donculous""/><br/>
                      Double Donculous(12 inches)<input type=""radio"" name=""SandSize"" value=""Double"" /><br />
    How Many cheesesteaks ?<input type=""text"" name=""SandNum"" /><br />
     ";

    var stepSideForm = @"Select a side choice <select name=""Side"">
                <option value=""Fries"" name=""Side"">Fries($2.00)</option>
                <option value=""ChiliCheeseFries"" name=""Side""> Chili Cheese Fries($3.00)</option >
                       <option value=""Poppers"" name=""Side""> Jalepeno Poppers($3.00) </option >
                              <option value=""ChiliPoppers"" name=""Side""> Chili Cheese Jalepeno Poppers($4.00) </ option >
                                     <option value=""Gyoza"" name=""Side""> Gyoza($2.50) </ option >
                                        <option value=""HotWings"" name=""Side""> Hot Wings($2.75) </ option >
                                              <option value=""Salad"" name=""Side""> Side Salad with ranch($2.25) </ option >
                                                     <option value=""None"" name=""Side""> No side </ option >
                                                            </select> <br/> 
                                                               <input type=""submit"" />";

    var currentStep = step0Form;
    var otherCurrentStep = stepSideForm;

    Validation.Add("SandNum", Validator.Required("You must enter a number of cheesesteaks."), Validator.Integer("Number of cheesesteaks must be a number."));
}
       @{
           if (IsPost)
           {

               askUser = "Now click on a deluxe cheesesteak:";
               currentStep = "";
               otherCurrentStep = "";

               var SandSize = Request["SandSize"];
               var sandNum = Request["SandNum"];
               var numLoops = 0;
               var sideDish = Request["Side"];

               if (Validation.IsValid())
               {

                   switch (sideDish)
                   {
                       case "Fries":
                           App.SideChoice = "Fries";
                           App.SidePrice = "$2.00";

                           break;

                       case "ChiliCheeseFries":
                           App.SideChoice = "Chili Cheese Fries";
                           App.SidePrice = "$3.00";

                           break;

                       case "Poppers":
                           App.SideChoice = "Jalepeno Poppers";
                           App.SidePrice = "$3.00";

                           break;

                       case "ChiliPoppers":
                           App.SideChoice = "Chili CheeseJalepeno Poppers";
                           App.SidePrice = "$4.00";

                           break;

                       case "Gyoza":
                           App.SideChoice = "Gyoza";
                           App.SidePrice = "$2.50";

                           break;

                       case "HotWings":
                           App.SideChoice = "Hot Wings";
                           App.SidePrice = "$2.75";

                           break;

                       case "Salad":
                           App.SideChoice = "Side Salad with Ranch";
                           App.SidePrice = "$2.25";

                           break;

                       case "None":
                           App.SideChoice = "No side dish cheesesteak only";
                           App.SidePrice = "Free";

                           break;
                   }

                   Int32.TryParse(sandNum, out numLoops);
                   App.RowNum = numLoops;
                   if (SandSize == "Mini")
                   {
                       App.Size = "Mini Donculous";
                       App.MeatAmount = "3 Ounces";
                       App.Cheese = "1 slice";
                       App.Price = "4.50";

                   }
                   else if (SandSize == "Donculous")
                   {
                       App.Size = "Donculous";
                       App.MeatAmount = "5 Ounces";
                       App.Cheese = "2 slices";
                       App.Price = "6.75";
                   }
                   else if (SandSize == "Double")
                   {
                       App.Size = "Double Donculous";
                       App.MeatAmount = "10 Ounces";
                       App.Cheese = "4 slices";
                       App.Price = "10.50";
                   }


               }
               else
               {
                   Validation.AddFormError("Sorry your form was not valid. Please click on the Homepage link on the right sidebar and try again.");
                   askUser = "";
               }
           }
           }


        <form method="post">
            <fieldset>
                @Html.ValidationSummary(true)
                <p><b>@askUser</b></p>


                    @Html.Raw(currentStep)
                    @Html.ValidationMessage("SandNum")
</fieldset>
            <fieldset>
                @Html.Raw(otherCurrentStep)
            </fieldset>
        </form>
 