@{ Layout = "~/Shared/_Layout.cshtml"; }

<h1>Pepper Donculous:</h1>
<p>A sizzling cheesesteak piled hile with red, yellow, and green peppers all grilled to to perfection topped with swiss cheese and smothered in a house cheese whiz sauce to cool it off.</p>

<table border="2">
    <tr>
        <td>Size</td>
        <td>Steak Portion</td>
        <td>Amount of Cheese</td>
        <td>Price</td>
    </tr>
    @{ for (int i = 0; i < App.RowNum; i++)
        {
            <tr>
                <td>@App.Size</td>
                <td>@App.MeatAmount</td>
                <td>@App.Cheese</td>
                <td>$@App.Price</td>
            </tr>
        }
        <tr>
            <td colspan="2">@App.SideChoice</td>
            <td colspan="2">@App.SidePrice</td>

        </tr>
    }  
</table>